.jstb_gdriveembed {
  background-image: url(../images/icon.png);
}

.gDriveEmbed-text {
  width: 100%;
}

.gDriveEmbed-button {
  float: right;
  margin-top: 5px;
}

#gDriveEmbedDialog {
  min-height: 0 !important;
}

.preview-content iframe {
  display: none;
}

.preview-content.open iframe {
  display: block;
}

.preview-content .toggle {
  margin-top: 10px;
  margin-bottom: 10px;
}